<% if alert || notice %>
  <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
<% end %>

<div class="mt-4 mb-4">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <%= link_to t('links.account'), '#', class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t('links.tips'), account_tips_path, class: 'nav-link' %>
    </li>
  </ul>
</div>
<div class="row mt-4 mb-4">
  <h1 class="col-12 text-center display-4">
    <%= t('.title') %>
    <%= image_tag current_user.avatar_url, class: 'avatar', alt: "Avatar for #{current_user.name}" %>
  </h1>
</div>
<div class="row">
  <%= form_for(current_user, url: account_path, html: { class: 'col-lg-10 offset-lg-1' }) do |form| %>
    <% if current_user.errors.any? %>
      <%= render partial: 'model_errors', locals: { model: current_user } %>
    <% end %>

    <div class="form-group row">
      <%= form.label :email, class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.email_field :email, class: 'form-control', placeholder: 'e.g. me@epfl.ch' %>
      </div>
    </div>

    <fieldset class="form-group row">
      <%= form.label :name, class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= form.label :avatar, class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.file_field :avatar, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row d-flex flex-row-reverse">
      <div class="col-md-10">
        <%= form.submit class: 'btn btn-primary btn-block mb-2' %>
      </div>
      <div class="col-md-2">
        <%= link_to t('links.cancel'), user_path(current_user), class: 'btn btn-light btn-block' %>
      </div>
    </fieldset>
  <% end %>
</div>
