<% if alert || notice %>
  <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
<% end %>

<div class="row mt-4 mb-4">
  <h1 class="col-12 text-center display-4">
  <% if params[:q].present? %>
    <%= t('.title_2') %> <em>"<%= params[:q] %>"</em>
  <% else %>
    <%= t('.title_1') %>
  <% end %>
  </h1>
</div>

<div class="row">
  <% if @tips.any? %>
    <% @tips.each do |tip| %>
      <%= render partial: 'tip_card', locals: { tip: tip } %>
    <% end %>
  <% else %>
    <p class="no-results mt-5 mb-5"><%= t('.no_match_found') %> <%= params[:q] %>... :(</p>
  <% end %>
</div>

<%= paginate @tips %>
