<p id="notice"><%= notice %></p>

<div class="row mt-4 mb-4">
  <h1 class="col-12 text-center display-4">
  <% if params[:q].present? %>
    <%= translate 'tips.index.title_2' %> <em>"<%= params[:q] %>"</em>
  <% else %>
    <%= translate 'tips.index.title_1' %>
  <% end %>
  </h1>
</div>

<div class="row">
  <% if @tips.any? %>
    <% @tips.each do |tip| %>
      <%= render partial: 'tip_card', locals: { tip: tip } %>
    <% end %>
  <% else %>
    <p class="no-results mt-5 mb-5"><%= translate 'tips.index.no_match_found' %> <%= params[:q] %>... :(</p>
  <% end %>
</div>

<%= paginate @tips %>
