<% if alert || notice %>
  <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
<% end %>

<div class="card mt-4">
  <div class="card-header d-flex justify-content-start">
    <h3><%= @tip.title %></h3>
    <% if logged_in? && can_edit?(@tip) %>
      <div>
        <%= link_to t('links.edit'), edit_tip_path(@tip), class: 'btn btn-outline-secondary ml-3' %>
      </div>
    <% end %>
    <% if logged_in? %>
      <div class="ml-3">
        <%= render partial: 'favourites_button', locals: { tip: @tip } %>
      </div>
    <% end %>
  </div>

  <div class="card-body">
    <p><%= @tip.body %></p>
    <p class="text-muted"><%= t('.created_by') %> <%= render partial: 'user_link', locals: { user: @tip.user } %> <%= t('.on') %> <%= l(@tip.created_at) %></p>
  </div>

  <div class="card-body">
    <h3><%= t('comments.title') %></h3>
    <div id="commentsList" class="m-3">
      <% @tip.comments.order(created_at: :asc).each do |comment| %>
        <blockquote class="blockquote">
          <p class="mb-0"><%= comment.body %></p>
          <footer class="blockquote-footer">
            <%= t('comments.added_by') %> <%= render partial: 'user_link', locals: { user: comment.user } %> <%= t('comments.date', time: time_ago_in_words(comment.created_at) ) %>
          </footer>
        </blockquote>
      <% end %>
    </div>
    <% if logged_in? %>
      <p class="text-muted"><%= t('comments.add_comment') %></p>
      <%=
        # Notice how #build is used here to instantiate a new empty Comment to be
        # used in the form.  #build is a convenient way to create an empty
        # associated model instance for situations like this, instead of using
        # Comment.new within TipsController#show to create an empty instance.
        form_for([@tip, @tip.comments.build], remote: true) do |form|
      %>
        <fieldset>
          <%= form.text_area(:body, class: 'form-control mb-2', rows: 5) %>
        </fieldset>
        <fieldset class="d-flex justify-content-end">
          <%= form.submit t('comments.post'), class: 'btn btn-primary' %>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>
